:root {
  --default-text: antiquewhite;
  --text-accent: hsl(0, 0%, 14%);
  --default-back: black;
  --light-text: rgb(0, 0, 36);
  --light-back: white;
  --accent: palevioletred;
}

body {
  --text-color: var(--default-text);
  --background-color: var(--default-back);
  --accent-color: var(--accent);
  --theme: dark;
}

@media (prefers-color-scheme: light) {
  body {
    --text-accent: whitesmoke;
    --theme: light;
    --text-color: var(--light-text);
    --background-color: var(--light-back);
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: var(--background-color);
}

#wrapper {
  overflow-x: hidden;
  margin: 0;
}

#header {
  background-color: black;
  background-image: url("../assets/mountains2.png");
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

#name {
  color: var(--background-color);
  margin: 0;
  font-size: 15vh;
  position: absolute;
  right: 10%;
  top: 20%;
}

#desc {
  color: var(--background-color);
  margin: 0;
  font-size: 5vh;
  font-size: 3em;
  position: absolute;
  right: 10%;
  top: 37.5%;
}

@media only screen and (max-width: 550px) {
  #top {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  #name {
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10vw;
    width: fit-content;
  }
  #desc {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5vw;
    width: max-content;
  }
}

#content {
  color: var(--text-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-150px);
  background-color: var(--background-color);
  width: 90vw;
  height: 1000px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media only screen and (max-width: 550px) {
  /* Shift up the content because url bar can be at bottom on those devices */
  #content {
    transform: translateX(-50%) translateY(calc(-150px - 15vh));
  }
}

#MyWorkButton {
  height: 75px;
  width: 200px;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  outline: 0px var(--accent-color) solid;
  transition: 300ms ease-in;
}

#MyWorkButton:hover {
  transition: 150ms ease-in;
  outline: 7.5px var(--accent-color) solid;
}

#top {
  padding: 45px;
  padding-top: 40px;
}

#work {
  display: flex;
  flex-wrap: wrap;
}

#workTitle {
  text-align: center;
  width: 90vw;
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  #work {
    display: block;
  }
}

#showcase {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: block;
  flex: 1 0 21%;
  margin: 5px;
}

button {
  cursor: pointer;
}

.projectButton {
  background-color: white;
  border: none;
  width: fit-content;
  height: 50px;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  transition: 200ms ease-out;
}

.projectButton:hover {
  filter: drop-shadow(5px 5px 10px var(--accent-color));
}

#showMore {
  width: 90vw;
  text-align: center;
}

#showMoreText {
  color: grey;
}

#contact {
  text-align: center;
}

#contactContent {
  width: 50vw;
  background-color: var(--background-color);
  border: 1px whitesmoke solid;
  filter: drop-shadow(0px 0px 10px var(--text-color));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  border-radius: 30px;
  padding: 30px;
}

#subjectField {
  width: 75%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  border: var(--text-accent) 2px solid;
  min-width: 90px;
}

#mailButton,
#discordButton {
  width: 20%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 100%;
  background-color: var(--text-accent);
  border: none;
  border-radius: 5px;
  transition: 150ms ease-out;
  min-width: 90px;
}

#mailButton:hover {
  filter: drop-shadow(0px 0px 5px var(--text-color));
}

#discordButton:hover {
  filter: drop-shadow(0px 0px 5px blue);
}
